<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My Rock Pet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDB3F0081C9372180000C8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB3F01C1C9372180000C8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB3F0271C9372180000C8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
