<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebRequestPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDC441C21CE8117C0077CE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC441D61CE8117D0077CE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDC441E11CE8117D0077CE54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
